version: "3.9"

services:
  backend:
    container_name: backend_group1_app
    build:
      context: .
      dockerfile: Dockerfile
      args:
        PORT: ${PORT}
    restart: always
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - backend_net

  postgres:
    image: postgres:16
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5435:5432"
    volumes:
      - ./data:/var/lib/postgresql/data
    networks:
      - backend_net

networks:
  backend_net:
    driver: bridge
