version: "3.9"

services:
  backend:
    container_name: backend_group1_app
    build:
      context: .
      dockerfile: Dockerfile
      args:
        PORT: ${PORT}
    restart: always
    env_file:
      - .env
    ports:
      - "${PORT}:${PORT}"
    networks:
      - backend_net

networks:
  backend_net:
    driver: bridge
